@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Khand&family=Russo+One&family=Six+Caps&display=swap');
/* font-family: 'Khand', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Six Caps', sans-serif; */

/* RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol { 
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(26, 25, 25, 0.4);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* MAIN MENU */
header .main_menu {
    display: flex;
}
header .main_menu p {
    margin-left: 40px;
    font: 40px/1 'Six Caps';
    padding: 0px 20px;
}

header .main_menu p a {
    color: rgb(55, 55, 216);
}

header .main_menu li {
    margin: 0px 10px;
}

header .main_menu li a {
    font: 20px 'Khand';
    color: white;
    line-height: 40px;
}

header .main_menu li a:hover {
    color: orange;
}

/* RIGHT MAIN MENU */

header .right_main_menu {
    margin-right: 60px;
    display: flex;
}

header .right_main_menu li {
    margin: 0px 20px;
}

header .right_main_menu li i {
    margin-right: 8px;
    font-size:15px;
}

header .right_main_menu a {
    font: 20px 'Khand';
    color: white;
    line-height: 40px;
}

header .right_main_menu a:hover {
    color: orange;
}

header #user {
    display: none;
}

header #main {
    display: none;
}


/* SUB_MENU */
/* VIDEO */

figure {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
}

figure video {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

figure .sub_menu {
    position: absolute;
    display: flex;
    top: 8%;
    margin-left: 100px;
    background-color: white;
    border-radius: 3px;
}

figure .sub_menu img {
    width: 49px;
    height: 45px;
}

figure .sub_menu li {
    margin: 10px 15px;
    font: 16px 'Khand';
}

figure .sub_menu li a {
    color: black;
}

figure .sub_menu li a:hover {
    color: orange
}


figure .sub_menu li:not(:last-child):after {
    content: "|";
    font: 12px;
    color: black;
    padding-left: 30px;
}

figure .text {
    position: absolute;
    left: 20vw;
    top: 10vw;
} 

figure .text .overwatch {
    font: 120px 'Russo One';
    color: white;
    text-align: center;
    text-shadow:-1.5px 0px black, 0px 1.5px black, 1.5px 0px black, 0px -1.5px black;
}

figure .text strong {
    color: orange;
}

figure #unmutePlayerButton {
    width: 100px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 3px 10px;
    margin:10px 30px;
    font: 20px 'Khand';
}

/* PLAY & BUY */

figure .text ul {
    display: flex;
}
    
figure .text ul li {
    position: relative;
    margin:80px;
    text-align: center;
}

figure .text ul li .play {
    background-color: orange;
    padding: 1px 80px;
    margin-right: 60px;
}

figure .text ul li a .play {
    text-decoration: none;
    color: white;
    font: 30px 'Khand';
    border-radius: 3px;
}

figure .text ul li a .play:hover {
    color: black;
}

figure .text ul li a i {
    margin: 8px;
    font-size: 20px;
}

figure .text ul li .buy {
    background-color: rgb(33, 70, 220);
    padding: 1px 80px;
}

figure .text ul li a .buy {
    text-decoration: none;
    color: white;
    font: 30px 'Khand';
    border-radius: 3px;
}

figure .text ul li a .buy:hover {
    color: black;
}

/* FOOTER */

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font: 12px/1 'arial';
    color: black;
    letter-spacing: 2px;
    text-align: center;
    padding: 5vh 5vw;
    z-index: 2;
}

/* MOBILE */

@media screen and (max-width: 900px) {

    /* RIGHT MENU */
    header .main_menu li{
        display: none;
    }
    
    header .right_main_menu {
        display: none;
    }

    figure .sub_menu {
        display: none;
    }

    header #user {
        display: block;
        color: white;
    }
 
    header #user .btn_menu {
        color: white;
    }
    
    header #user .right_menu {
        position: absolute;
        right: 5vw;
        padding: 10px 25px;
        background-color: rgb(108, 104, 104, 0.8);
        border: 1px solid rgb(108, 104, 104);
        border: 10px;
        text-align: right;
        opacity: 1;
        transition: 0.4s;
        border-radius: 3px;
        text-align: center;
    }

    header #user .right_menu.hide {
        opacity: 0;
    }

    header #user .right_menu li {
        padding: 7px 0px;
        font: 17px/1 'Khand';
    }

    header #user .right_menu li a:hover {
        color: orange;
    }

    header #user .right_menu a {
        color: white;
    }

    header #user a i {
        margin-right: 20px;
        font-size: 23px;
    }

    header #user a i:hover {
        color: orange;
    }

    /* LEFT MENU */
    header #main .left_menu {
        position: absolute;
        right: 65vw;
        padding: 10px 25px;
        background-color: rgb(108, 104, 104, 0.8);
        border: 1px solid rgb(108, 104, 104);
        border: 10px;
        text-align: right;
        opacity: 1;
        transition: 0.4s;
        border-radius: 3px;
        text-align: center;
    }

    header #main .left_menu.hidden {
        opacity: 0;
    }

    header #main .left_menu li {
        padding: 7px 0px;
        font: 17px/1 'Khand';
    }

    header #main .left_menu li a:hover {
        color: orange;
    }

    header #main .left_menu a {
        color: #ffffff;
    }

    header #main a i {
        margin-left: -37vw;
        font-size: 23px;
    }

    header #main a i:hover {
        color: orange;
    }

    header #main {
        display: block;
        color: white;
    }
 
    header #main .left_btn_menu {
        color: white;
    }

    /* TEXT */
    figure .text p {
        font-size: 10vw;
    }





}